html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(black, aquamarine);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 450px 20px 450px;
  border-radius: 10px;
  background-color: aquamarine;
  box-shadow: 5px 10px 8px #888888;
}

header > section{
  display: flex;
  justify-content:center;
  margin: 30px;
  
}

header > h1 {
  color: aquamarine;
  margin-left: 464px;
}

.inputs{
	border-radius: 10px;
  box-shadow: 5px 10px 8px aquamarine;
  
}

.register {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 200px;
}

div > h1 {
  color: aquamarine;
}
